<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Content:</strong>
  <%= @micropost.content %>
=======
  <strong>Context:</strong>
  <%= @micropost.context %>
>>>>>>> 88f2e9e19b3ff64e64ab47ec4f55187e165d9aa1
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
